.imagen-mis-ventas {
    /* height: 100px; */
    width: 100px;
    max-height: 300px;
}

.CardVentas {
    height: fit-content;
    border-radius: 10px;
    border: 1px solid black;
    /* align-items: center; */
    justify-content: space-between;
    min-height: 100px;
    display: flex;
    overflow: hidden;
    
}

.left-mis-vetas {
    display: flex;
    padding: 30px;
    gap: 30px;
    align-items: center;
}

.right-mis-vetas {
    display: flex;
    padding: 30px;
    gap: 30px;
    align-items: center;


}

.medio-mis-ventas p{
    /* max-width: 600px; */
    overflow: hidden;
    /* max-height: 200px; */
}


.estado-comprador-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.estado-comprador-box2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-comprador-mail {
    width: 140px;
    border: none;
    border-bottom: 2px solid black;
}

.input-comprador-mail:focus {
    outline: none;
}

.barra-mis-ventas-right {
    min-height: 100%;
    border: 1px solid black;
}

.barra-mis-ventas-left {
    min-height: 100%;
    border: 1px solid black;
}


@media (max-width: 940px) {

    .right-mis-vetas {
        padding: 30px 30px 30px 0px ;
        gap: 10px;
    }

    .left-mis-vetas {
        padding: 30px 0px 30px 30px ;
        gap: 10px;
    }
    .CardVentas {
        gap: 10px;
    }
}

@media (max-width: 660px) {

    
    .CardVentas {
        flex-direction: column;
        
    }

    .barra-mis-ventas-right {
        /* display: none; */
        width: 80%;
    }

    .barra-mis-ventas-left {
        /* display: none; */
        /* height: 100px; */
        width: 80%;
        
    }


    .right-mis-vetas {
        align-items: center;
        justify-content: center;
        padding: 0;
        flex-direction: column;
    }
    
    
    .left-mis-vetas {
        align-items: center;
        justify-content: center;
        padding: 0px;
        flex-direction: column;
    
}

    .medio-mis-ventas {
        padding: 20px;
    }

    .imagen-mis-ventas {
        padding: 20px;
        width: 170px;
    }

}