.desplegable-box-perfil {
    position: absolute;
    z-index: 200;
    width: 220px;
    top: 65px;
    right: 0;
    /* border: red 2px solid; */
    background-color: #FBEAC7;
    border: none;
    border-radius: 20px;
}


.desplegable-box-perfil ul li{
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins';
    cursor: pointer;
    width: fit-content;

}

.desplegable-box-perfil ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.publicar-desplegable {
    display: none;
}

@media (max-width: 650px){
    
    .publicar-desplegable {
        display: block;
    }

    .desplegable-box-perfil {
        position:   fixed;
        height: 100vh;
        top: 100px;
        width: 100%; 
        border-radius: 0;
        color: black;
    }
    .publicar-desplegable {
        background-color: #E6BF72;
        padding: 20px;
        border-radius: 30px;
    }

    .desplegable-lista-perfil {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 0;
    }

    .desplegable-box-perfil ul {
        display: flex;
        gap: 30px;
        font-size: 20px;
        margin-top: 50px;
    }
    
}