.img-logo-header {
    width: 150px;
    /* border-radius: 50%; */
    cursor: pointer;
}



.logo-texto-header {
    font-family: "Poetsen One";
    letter-spacing: 1px;
    font-size: 30px;
    color: #FBEAC7;
    letter-spacing: 4px;
}

.header2{
    display: flex;
    background: linear-gradient(90deg, rgba(255,161,29,1) 0%, rgba(255,203,138,1) 50%, rgba(255,161,29,1) 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, .33);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    position: sticky;
    z-index: 100;
    align-items: center;
    justify-content: space-evenly;
}

.left {
    margin-left: 35px;

}

.relativa-dropdown {
    position: relative;
}

.right {
    /* margin-right: 35px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search-bar{
    border-radius: 50px 0px 0px 50px;
    height: 57px;
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.521);
    font-family: 'Poppins';
    padding: 0px 0px 0px 30px;
}

.search-bar::placeholder{
    font-family: 'Poppins';
    font-size: 16px;
}  

.search-bar:focus {
    outline: none;
}

.middle {
    width: 100%;
    height: 55px;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0px 40px; */
    margin: 0px 20px;
    /* background-color: red; */
}


.search {
    -webkit-tap-highlight-color: transparent;
    border-radius: 0px 50px 50px 0px;
    height: 55px;
    width: 60px;
    border: none;
    /* border-left: 1px solid gainsboro; */
    background-color: rgba(255, 255, 255, 0.521);
    display: flex;
    color: #F2B846;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 0px 8px;
}


.upload {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    height: 57px;
    width: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-size: 45px;
    color: #FBEAC7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.upload:hover {
    transform: scale(1.1);
}

.profile {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    height: 57px;
    width: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-size: 75px;
    color: #FBEAC7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.profile:hover {
    transform: scale(1.1);
}

.menu {
    -webkit-tap-highlight-color: transparent;
    height: 57px;
    width: 60px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-size: 50px;
    color: #FBEAC7;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


@media (max-width: 650px){
    .menu{
        display: flex;
    }
    .upload {
        display: none;
    }
    .profile {
        display: none;
    }
    .middle {
        margin: 0px;
    }
    .right {
        gap: 0px;
        margin: 0px 10px;
    }
}