.containerInicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 260px;
}

.inicio-box {
    height: fit-content;
    min-height: 100vh;
}

.filtros, .ordenar{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 7px;
}


.input-box3 label{
    font-size: 18px;
    font-family: 'Poppins';
}

.barra-inicio-recomendado-grid {
    width: 90%;

    border: 1px solid #a5a3a1;
    /* padding-left: 250px; */
    /* margin-left: 260px; */
}


.conteiner-recomendaciones {
    min-height: 100vh;
    margin-inline: 20px;
    margin-bottom: 20px;
    display: flex;
    padding-Left: 260px ;
}

.conteiner {
    min-height: 100vh;
    margin-inline: 20px;
    margin-bottom: 20px;
    display: flex;

    /* background-color: red; */
}

.boxArribaRecomendados {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.filtros-inicio {
    display: none;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    gap: 300px;
    height: fit-content;
}

.boton-filtros-responsive {
    width: 40%;
    margin-bottom: 5px;
}

.filtros-inicio button {
    width: 150px;
    height: 50px;
    background-color: #E4E4E4;
    border: none;
    font-family: 'Poppins';
    font-size: 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.displayImages {
justify-content: center;
align-items: center;
display: flex;
}

.grid-productos {
    margin-top: 20px;
    display: grid;
    height: fit-content;
    gap: 35px;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(210px,1fr));
    /* grid-template-columns: 1fr 1fr 1fr; */
}

/* 
@media (max-width: 1355px){
    .grid-productos {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px,300px));
    }
  }

  @media (max-width: 900px){
    .grid-productos {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px,300px));
    }
  }
*/
  @media (max-width: 650px){
    .containerInicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
    }
    .conteiner {
        padding-left: 0;
        align-items: center;
    }
    .filtros-inicio {
        display: flex;
        align-items:start;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
        gap: 30px;
    }

    .conteiner-recomendaciones {
        padding-left: 0px;
    }

  } 



