/* Estilos del login */

.form p {
    font-size: 20px;
    margin: 0;
    width: auto;
    justify-content: center;
    text-align: center;
}

.form h2 {
    margin: 0;
}

.invalidCredentials {
    color: red;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 100;
}

.validCredentials {
    color: gray;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 100;
}

.icon-arrow{
    font-size: 40px;
    align-self: flex-start;
    margin-left: 25%;
}