
.box-perfil {
    height: fit-content;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0px;
}

.barra-perfil{
    height: 500px;
    border: 1px solid black;
    margin: 0;
}

.perfil-pic {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 2px solid  #F2B846;
}

.loader-container-perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 2px solid #f2b94600;;
}

.left-perfil p {
    font-family: 'Poppins';
}

.left-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.right-perfil {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}


.datos-usuario{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.datos-usuario h3{
    font-family: 'Poppins';
    font-size: 27px;
}

.Seguridad {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;
    width: 100%;
    align-items: center;
    padding-bottom: 30px;
}

.Seguridad h3 {
    font-family: 'Poppins';
    font-size: 27px;
    margin: 0;
}

.datos-usuario p{
    font-family: 'Poppins';
    /* border-bottom: 2px solid black; */
    width: 60%;
}

.nueva-data-perfil-box {
    border-bottom: 2px solid black;
    justify-content: space-between;
    width: 60%;
    display: flex;
    align-items: center;
}

.Seguridad a{
    font-size: 18px;
    color: black;
}



.label-perfilpic-upload {
    background-color: rgb(228, 228, 228);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 20px;
    
}

.delete-perfilpic {
    background-color: rgb(228, 228, 228);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 17px;
}

.botones-perfil {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin: 30px 0px;

}

.nuevo-mail-perfil-box {
    width: 60%;
}

.nuevo-mail-perfil {
    width: 100%;
    height: 40px;
    font-family: 'Poppins';
    /* padding: 10px; */
    border: 1px solid black;
}

.enviar-nuevo-mail-perfil {
    width: 30%;
    height: 40px;
    font-family: 'Poppins';

    
}

.guardar-cambios-perfil {
    width: 30%;
    height: 40px;
    font-family: 'Poppins';
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    border: 2px solid #F2B846;
    background-color: white;
}

.boton-edit-datos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0px;
    font-size: 15px;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.invalidCredentials {
    color: red;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 100;
}

.button-guardar-cambios {
    margin: 20px 0px;
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #FEAA06;
    border: 2px solid #FEAA06;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    width: 250px;
  }
  
  .button-guardar-cambios::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 90px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #FEAA06;
    transition: all 0.55s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button-guardar-cambios:hover::before {
    scale: 3;
  }
  
  .button-guardar-cambios:hover {
    color: #ffffff;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button-guardar-cambios:active {
    scale: 1;
  }
  


@media (max-width: 1000px) {

    .box-perfil{
        flex-direction: column;
    }
    
    .barra-perfil {
        height: 0px;
        width: 80%;
    }

    .perfil-pic {
        height: 200px;
        width: 200px;
    }

    .nuevo-mail-perfil-box {
        width: 100%;
    }

    .nueva-data-perfil-box {
        width: 100%;
    }

  }