.box-responsive-filters {
    display: none;
    
}

.filter-element-responsive {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    
}

.filtrar-responsive-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 50px;
    width: 160px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 17px;
    border: 2px solid #F2B846;
}

.ordenar-element-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ordenar-responsive-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 50px;
    width: 160px;
    border-radius: 50px;
    font-family: 'Poppins';
    font-size: 17px;
    border: 2px solid #F2B846;
}

@media (max-width: 650px){
    .box-responsive-filters {
        display: flex;
        align-items: start;
        width: 100%;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 20px
    }

    .input-box3 {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: start;
        width: 80%;
        border-radius: 10px;
        height: 50px;
        border: 2px solid #F2B846;
        padding: 5px;
    }

    .filtros {
        border: 2px solid #F2B846;
        border-radius: 10px;
        padding: 2px;
        height: 150px;
    }

    .ordenar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }