.sidebar {
    background-color:   white;
    border-right: 1px solid transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    width: 250px;
    top: 100px;
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 100;
}

.filtros, .ordenar{
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 6px;
}

.input-box3 label{
    font-size: 18px;
    font-family: 'Poppins';
}

@media (max-width: 650px){
    .sidebar {
        display: none;
    }

    .ordenar h2 {
        display: none;
    }

    .input-box3 {
        background-color: #E4E4E4;
        width: 150px;
        min-height: 50px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ordenar {
        padding: 0px;
        
    }
  }